title {
    display: none;
      }
html {
    font-size: 100.01%;
     }
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     }
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-size: 72%;
    background: #FFF;
    color: #323537;
     }
.index #wrapper
    {
     display: table;
    }
#wrapper {
          width: 100%;
         }

 .active_admin #header.header {
    display: table;
}

#header {
    background-color: #6a7176;
    background-image: linear-gradient(180deg,#6a7176,#4d5256);
    border-bottom: 1px solid #44484b;
    box-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    text-shadow: #000 0 1px 0;
    display: table;
    height: 20px;
    width: 100%;
    overflow: visible;
    position: inherit;
    padding: 5px 0;
    z-index: 900;
}

#title_bar {
    background-color: #efefef;
    background-image: linear-gradient(180deg,#efefef,#dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 0 1px #fff inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5e6469;
    padding: 5px 10px 3px 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    display: table;
    border-bottom-color: #EEE;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 30px;
    z-index: 800;
} 
#title_bar #titlebar_right {
    text-align: right;
} 
#titlebar_right {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
} 
#title_bar:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
#active_admin_content {
    margin: 0;
    padding: 30px;
}
#active_admin_content #main_content_wrapper {
    float: left;
    width: 100%;
}     
